---
import { slide } from "astro/virtual-modules/transitions.js";
import { slide } from "astro/virtual-modules/transitions.js";
import { slide } from "astro/virtual-modules/transitions.js";
import { slide } from "astro/virtual-modules/transitions.js";
import Badge from "../../assets/images/badges/cart.png";

import img1 from "../../assets/images/carousel/projects/1.png";
import img2 from "../../assets/images/carousel/projects/2.png";
import img3 from "../../assets/images/carousel/projects/3.png";
import img4 from "../../assets/images/carousel/projects/4.png";

import {Image} from "astro:assets";

const items = [
    {
        slide: '1',
        title: 'Magic SEO',
        text: 'Топ-позиции по ключевым словам',
        desc: 'Magic — профессиональный сервис для агентств, SEO-специалистов и владельцев крупных сайтов, которые проявляют интерес к большому объему трафика с поисковых систем и стремятся к нахождению на первых местах.',
        img: img1,
        status: 'prod'
    },
    {
        slide: '2',
        title: 'S-Booster',
        text: 'Продвинь свой сайт быстро и самостоятельно',
        desc: 'S-Booster — сервис, где каждый может продвинуть свой сайт без сложных слов и понимания механик. Частный бизнес, услуги или соло-предприниматели, этот продукт создан для вас. Пошаговая инструкция прилагается.',
        img: img2,
        status: 'prod'
    },
    {
        slide: '3',
        title: 'BestPrice',
        text: 'Преврати каждый сайт в набор объявлений',
        desc: 'BestPrice — классифайд-платформа для продажи товаров и услуг с набором инструметов группировки по тэгам и продвижения, а также обеспечения бесплатного трафика.',
        img: img3,
        status: 'dev'
    },
    {
        slide: '4',
        title: 'PlanPoint',
        text: 'Организуй управление по модели « План-Факт-План»',
        desc: 'PlanPoint — SaaS-решение для бизнеса, которое позволяет внедрить и настроить систему менеджмента по модели План-Факт-План. Умная лента событий сотрудников и клиентов, которая делает планы прозрачными, а действия — целевыми.',
        img: img4,
        status: 'dev'
    }
];
---

<section class="carousel section section--v4">
    <div class="container container--full">
        <div class="carousel__inner">
            <div class="container">
                <div class="section__header">
                    <div class="section__badge">
                        <div class="icon-badge icon-badge--v2">
                            <div class="icon-badge__icon">
                                <img src={Badge.src} class="img icon-badge__icon-src pulse" alt="" width="88" height="88">
                            </div>
                            <div class="icon-badge__text">Рынок <br> приготовься!</div>
                        </div>
                    </div>

                    <h2 class="section__title">Выкатываем <br> продукты и сервисы</h2>
                    <p class="section__text">Нашим фокусом всегда будут наглядные изменения,<br> а не красивые процессы. Результативность — ключевая черта <br> всех наших продуктов и сервисов. <br> За это нас и любит рынок!</p>
                </div>
            </div>

            <div class="swiper-perspective-wrap">
                <div class="swiper js-3d-carousel">
                    <div class="swiper-wrapper">
                        {items.map(item => (
                            <div class={`swiper-slide swiper-slide--${item.slide}`}>
                                <article class="card-2">
                                    <div class="card-2__inner">
                                        <div class="card-2__image-wrapper">
                                            <Image
                                                src={item.img}
                                                alt={item.title}
                                                format="webp"
                                                quality={95}
                                                class="img card-2__img"
                                            />
                                        </div>
                                        <div class="card-2__content">
                                            <h3 class="card-2__title">{item.title}</h3>
                                            <p class="card-2__sub-title">{item.text}</p>
                                            <p class="card-2__text">{item.desc}</p>
                                        </div>
                                        <div class="card-2__footer">
                                            <a href="#" class="card-2__btn btn btn--v2">
                                                {item.status === 'dev' ? 'В разработке' : 'На сайт проекта'}
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        ))}
                    </div>

                    <div class="swiper-pagination swiper-pagination--custom"></div>
                </div>
            </div>

        </div>
    </div>
</section>



<script>
    import Swiper from 'swiper';
    import { Pagination, EffectCreative } from 'swiper/modules';

    document.addEventListener('DOMContentLoaded', () => {
        const slider = new Swiper('.js-3d-carousel', {
            modules: [Pagination, EffectCreative],
            loop: true,
            speed: 600,
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            slideToClickedSlide: true,
            effect: 'creative',

            creativeEffect: {
                limitProgress: 2,
                prev: {
                    translate: ['-95%', '-15%', 0],
                    rotate: [0, 0, 0],
                    scale: 0.9,
                },
                next: {
                    // [X, Y, Z]
                    translate: ['95%', '-15%', 0],
                    rotate: [0, 0, 0],
                    scale: 0.9,
                },
                perspective: true,
                shadowPerProgress: false,
            },

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            breakpoints: {
                400: {

                },
                740: {
                    slidesPerView: 'auto',
                    creativeEffect: {
                        limitProgress: 2,
                        prev: {
                            translate: ['-95%', '-15%', 0],
                            rotate: [0, 0, 0],
                            scale: 0.9,
                        },
                        next: {
                            // [X, Y, Z]
                            translate: ['95%', '-15%', 0],
                            rotate: [0, 0, 0],
                            scale: 0.9,
                        },
                        perspective: true,
                        shadowPerProgress: false,
                    },
                },
            }

        });
    });
</script>