---
import {Image} from "astro:assets";

import Badge from "../../../assets/images/badges/hands2.png";

import img1 from "../../../assets/images/team/1.png";
import img2 from "../../../assets/images/team/2.png";
import img3 from "../../../assets/images/team/3.png";
import img4 from "../../../assets/images/team/4.png";
import img5 from "../../../assets/images/team/5.png";
import img6 from "../../../assets/images/team/6.png";
import img7 from "../../../assets/images/team/7.png";
import img8 from "../../../assets/images/team/8.png";
import img9 from "../../../assets/images/team/9.png";
import img10 from "../../../assets/images/team/10.png";
import img11 from "../../../assets/images/team/11.png";
import img12 from "../../../assets/images/team/12.png";
import img13 from "../../../assets/images/team/13.png";
import img14 from "../../../assets/images/team/14.png";
import img15 from "../../../assets/images/team/15.png";
import img16 from "../../../assets/images/team/16.png";
import img17 from "../../../assets/images/team/17.png";
import img18 from "../../../assets/images/team/18.png";

const allItems = [
    {
        number: 1,
        name: 'Кирилл Лисиченко',
        position: 'Руководитель команды продаж S-Booster',
        quote: 'Без ударов нет голов',
        img: img1,
        classes: 'br'
    },
    {
        number: 2,
        name: 'Галанцева Екатерина',
        position: 'Руководитель команды продаж S-Booster',
        quote: 'Мой подход к работе — это стратегическое системное мышление с предпринимательской амбицией, где я и выполняю поставленные задачи, и выстраиваю архитектуру результата и монетизации.',
        img: img2,
        classes: 'bl'
    },
    {
        number: 3,
        name: 'Кудинов Степан',
        position: 'Руководитель команды продаж S-Booster',
        quote: 'Или не пробуй, или доводи до конца',
        img: img3,
        classes: 'br'
    },
    {
        number: 4,
        name: 'Петр Морякин',
        position: 'Коммерческий директор Magic SEO',
        quote: 'При построении партнерских, эффективных отношений избегайте в коммуникации конструкционной полисемии.',
        img: img4,
        classes: 'bl'
    },
    {
        number: 5,
        name: 'Дарья Федорова',
        position: 'Руководитель команды продаж Magic SEO',
        quote: '',
        img: img7,
        classes: 'bl'
    },
    {
        number: 6,
        name: 'Евгений Першин',
        position: 'Руководитель агентского направления Magic SEO',
        quote: 'Энергия + стратегия = результат.<br>Заряжаю целями команду и превращаю их в сделки!',
        img: img5,
        classes: 'br'
    },
    {
        number: 7,
        name: 'Евгений Сурвилло',
        position: 'Руководитель команды присейла Magic SEO',
        quote: 'Системный подход, системные люди в команде - крутой результат! Всегда!',
        img: img6,
        classes: 'br'
    },
    {
        number: 8,
        name: 'Софья Гаврилова',
        position: 'HR BP',
        quote: 'Киберматика - место, где к людям относятся по‑настоящему.<br>Сопокойное море не воспитает настоящего моряка',
        img: img8,
        classes: 'br'
    },
    {
        number: 9,
        name: 'Бочаров Андрей',
        position: 'Руководитель команды продаж Magic SEO',
        quote: 'Клиентоориентированность и здоровый климат в команде - неизбежно ведут к результату.',
        img: img9,
        classes: 'bl'
    },
    {
        number: 10,
        name: 'Швецова Ирина',
        position: 'Руководитель команды развития Magic SEO',
        quote: 'Мы заботимся о ваших кликах, чтобы они работали на ваш результат',
        img: img10,
        classes: 'tl'
    },
    {
        number: 11,
        name: 'Владимир Ефанов',
        position: 'Head of Project Manager',
        quote: 'Выберите работу, которую вы любите, и вам не придётся работать ни дня в своей жизни» — Конфуций.<br>Работа в нашей команда — это когда профессия, хобби и эксперименты сливаются, делая усилия естественными и приятными.',
        img: img11,
        classes: 'br'
    },
    {
        number: 12,
        name: 'Седых Константин',
        position: 'Руководитель центра Дата-Аналитики',
        quote: 'Ненавижу ручной труд, и потому отвечаю за автоматизацию',
        img: img12,
        classes: 'tr'
    },
    {
        number: 13,
        name: 'Диев Руслан',
        position: 'Руководить команды SEO',
        quote: 'Мне нравится, что в Киберматике ценят здравый смысл и факты: здесь можно быстро принимать решения и доводить их до результата',
        img: img13,
        classes: 'tl'
    },
    {
        number: 14,
        name: 'Даниэль Шерман',
        position: 'Коммерческий директор',
        quote: 'Киберматика это бизнес, который обладает лучшими продуктами на рынке в своей области. И моя задача превратить лучший продукт в масштабируемую выручку через сильных людей и систему. <br>В моём подходе коммерческий блок это один конвейер: лидген → продажи → аккаунтинг, где каждый этап измерим метриками, конверсиями и планами. Продажи для меня это математика воронок + регулярные тренировки для достижения целевых конверсий (обучение как повторяемый системный процесс). И базовый принцип мотивации простой: моя задача сделать так, чтобы люди зарабатывали максимум, поэтому я постоянно докручиваю систему так, чтобы рост дохода был прямым следствием роста результата.',
        img: img14,
        classes: 'ml'
    },
    {
        number: 15,
        name: 'Войтулевич Кирилл',
        position: 'Head of Product Manger',
        quote: 'Киберматика для меня — среда, где продуктовые гипотезы превращаются в осмысленные решения для реальных людей.',
        img: img15,
        classes: 'bl'
    },
    {
        number: 16,
        name: 'Николаенко Виталий',
        position: 'Руководитель команды развития',
        quote: 'Управление – это не контроль, а ясность.<br> Когда команда понимает цель, видит логику решений и чувствует личную ответственность за результат, работа начинает двигаться быстрее любой директивы. <br>Нельзя приказать огню в глазах быть, его можно только разжечь.',
        img: img16,
        classes: 'bl'
    },

    {
        number: 17,
        name: 'Захаров Антон',
        position: 'Head of DevOps',
        quote: 'Всё чётко делай - всё чётко будет',
        img: img17,
        classes: 'br'
    },
    {
        number: 18,
        name: 'Чернавин Роман',
        position: 'Руководитель команды продаж',
        quote: 'Требуй от себя невозможного, чтобы получить нереальное.',
        img: img18,
        classes: 'bl'
    },


];

---
<section class="section team">
    <div class="container">
        <div class="team__inner">
            <div class="slider__header">
                <div class="slider__badge">
                    <div class="icon-badge icon-badge--v3">
                        <div class="icon-badge__icon">
                            <img src={Badge.src} class="img icon-badge__icon-src icon-badge__icon-src--w" alt="" width="88" height="88">
                        </div>
                        <div class="icon-badge__text">В главных ролях</div>
                    </div>
                </div>
                <h2 class="slider__title section__title">Объединяя <br> не-нормальных <br> людей</h2>
                <p class="slider__text">Мы называем себя панками, фриками и пиратами — из-за неутомимого желания что-то менять, делать еще круче и брать на себя эту ответственность. Всеми силами боремся со «средними» и «нормальными». Уровень кибермата — гораздо выше.</p>
            </div>

            <div class="team-grid">
                {allItems.map((item) => {
                    return (
                    <div class={`team-grid-card team-grid__item team-grid__item--p${item.number ?? ''}`}>
                        <div class="team-grid-card__media">
                            <Image
                                src={item.img}
                                alt={`${item.name} — ${item.position}`}
                                format="webp"
                                quality={95}
                                class="img team-grid-card__image"
                            />
                        </div>
                        <div class={`team-grid-card__title radius-block radius-block--${item.classes ?? ''}`}>
                            <div class="team-grid-card__name">{item.name}</div>
                            <div class="team-grid-card__position">{item.position}</div>
                        </div>
                    </div>
                )})}
            </div>

        </div>
    </div>
</section>