---
import { Image } from "astro:assets";
import Logo from "../assets/images/logo.svg";
import LogoText from "../assets/images/logoText.svg";

const pathname = Astro.url.pathname;

const navItems = [
    { title: "что делаем", href: "/" },
    { title: "кто мы", href: "/about/" },
    { title: "контакты", href: "/contacts/" },
];

const { class: className = "" } = Astro.props;
---

<header class="page-header section--v7">
    <div class="container">
        <div class="page-header__inner">
            <div class={`logo-company ${className}`}>
                <a href="/" class="logo-company__link">
                    <img
                        src={Logo.src}
                        class="logo-company__img img"
                        alt="Киберматика Лого"
                    />
                    <img
                        src={LogoText.src}
                        class="logo-company__text img"
                        alt="Киберматика Лого текст"
                    />
                </a>
            </div>
            <svg width="0" height="0" style="position: absolute;">
                <defs>
                    <clipPath id="tab-shape" clipPathUnits="objectBoundingBox">
                        <path
                            transform="scale(0.00641025, 0.025)"
                            d="M156,40H0c9.1,0,16.5-7.4,16.5-16.5v-3.5C16.5,9,25.5,0,36.5,0h83c11,0,20,9,20,20v3.5c0,9.1,7.4,16.5,16.5,16.5Z"
                        ></path>
                    </clipPath>
                </defs>
            </svg>
            <nav class="page-header__nav main-nav">
                <div class="main-nav__inner">
                    {
                        navItems.map((item) => (
                            <a
                                href={item.href}
                                class={`main-nav__item ${pathname === item.href ? "main-nav__item--active" : ""}`}
                            >
                                <span class="nav-bg" />
                                <span class="nav-text">{item.title}</span>
                            </a>
                        ))
                    }
                </div>
            </nav>
            <button
                class="page-header__mobile-menu-btn mobile-menu-btn btn-reset js-menu-toggle"
            >
                <svg
                    width="20"
                    height="19"
                    viewBox="0 0 20 19"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M4.30581 4.5H0V0.5H4.30581V4.5ZM5.2314 0.5H9.53721V4.5H5.2314V0.5ZM10.4628 0.5H14.7686V4.5H10.4628V0.5ZM15.6942 0.5H20V4.5H15.6942V0.5Z"
                        fill="#101651"></path>
                    <path
                        d="M4.30581 11.5H0V7.5H4.30581V11.5ZM5.2314 7.5H9.53721V11.5H5.2314V7.5ZM10.4628 7.5H14.7686V11.5H10.4628V7.5ZM15.6942 7.5H20V11.5H15.6942V7.5Z"
                        fill="#101651"></path>
                    <path
                        d="M4.30581 18.5H0V14.5H4.30581V18.5ZM5.2314 14.5H9.53721V18.5H5.2314V14.5ZM10.4628 14.5H14.7686V18.5H10.4628V14.5ZM15.6942 14.5H20V18.5H15.6942V14.5Z"
                        fill="#101651"></path>
                </svg>
            </button>
        </div>
    </div>
</header>
