---
import Badge from '../../../assets/images/badges/lightning.png';
import { Image } from 'astro:assets';
import Icon1 from '../../../assets/images/badges/badge1.webp';
import Icon2 from '../../../assets/images/badges/badge2.webp';
import Icon3 from '../../../assets/images/badges/badge3.webp';

import Image1 from '../../../assets/images/hero3/brain.png';
import Image2 from '../../../assets/images/hero3/purple_ball.png';
import Image3 from '../../../assets/images/hero3/torus.png';
import Image4 from '../../../assets/images/hero3/green_ball.png';
import Image5 from '../../../assets/images/hero3/rocket.png';

const cards = [
    {
        slide: 1,
        title: 'Pre-seed проекты',
        text: 'Продуктовое видение, понимание как реализовать. Мы не покупаем уже готовые компании.',
        icon: Icon1
    },
    {
        slide: 2,
        title: 'Опыт, а не фантазии',
        text: 'Только люди с экспертизой и опытом в сфере, пониманием бизнес-модели. ',
        icon: Icon2
    },
    {
        slide: 3,
        title: 'Ответственность за результат',
        text: 'Полное погружение для реализации проекта и собственная мотивация.',
        icon: Icon3
    }
];
---
<section class="hero fund-hero section section--v7">
    <div class="container">
        <div class="hero__inner">

            <div class="icon-badge icon-badge--v1">
                <div class="icon-badge__icon">
                    <Image src={Badge} class="img icon-badge__icon-src levitate" alt="" width={60} height={99} />
                </div>
                <div class="icon-badge__text">сняли ограничения,<br> запустили ускорение</div>
            </div>

            <div class="fund-hero-title">
                <h1 class="hero__title fund-hero-title__title">
                    Мозгиииии
                    <span class="fund-hero-title__item-2">и опыт</span> <br> в
                    <span class="word-image-3">продуктовой <span class="title-text">разработке</span></span>
                </h1>
                <div class="fund-hero-title__images">
                    <Image src={Image1} quality={100} class="img fund-hero-title__image fund-hero-title__image-1" alt="" />
                    <Image src={Image2} quality={100} class="img fund-hero-title__image fund-hero-title__image-2" alt="" />
                    <Image src={Image3} quality={100} class="img fund-hero-title__image fund-hero-title__image-3" alt="" />
                    <Image src={Image4} quality={100} class="img fund-hero-title__image fund-hero-title__image-4" alt="" />
                    <Image src={Image5} quality={100} class="img fund-hero-title__image fund-hero-title__image-5" alt="" />
                </div>
            </div>




            <p class="fund-hero__desc">Инвестируем в людей и новые продукты. <br>Используем наш опыт и экспертизу для реализации крутых идей. Меньше набитых шишек, больше кайфа.</p>




            <div class="hero__cards">
                <div class="cards">
                    <div class="cards__inner">
                        <h2 class="cards__title">Во что инвестируем?</h2>
                        <div class="cards__items">
                            {cards.map(card => (
                                    <div class={`cards__item card card--${card.slide}`}>
                                        <div class="card__content">
                                            <div class="card__content-inner">
                                                <h3 class="card__title">{card.title}</h3>
                                                <p class="card__text" set:html={card.text}></p>
                                            </div>
                                        </div>
                                        <div class="card__footer-icon">
                                            <div class="card-icon">
                                                <img src={card.icon.src} class="img card-icon__img levitate" alt="" width="88" height="88">
                                            </div>
                                        </div>
                                    </div>
                            ))}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

