---
import '../styles/main.scss'
import MobileMenu from "../components/sections/MobileMenu.astro";
import { siteContacts } from "../config/site";

const baseTitle = "Cybermatica";
const { title } = Astro.props;
const fullTitle = title ? `${baseTitle} - ${title}` : baseTitle;
const siteName = siteContacts.domain;
const baseUrl = `https://${siteContacts.domain}/`;
const ogImageUrl = `${baseUrl}assets/img/og.jpg`;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="Киберматика — не компания, а образ мышления. Продуктовая команда, которая вдохновляет бизнес и рынок на большие достижения.">
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg">
		<link rel="shortcut icon" href="/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
		<meta name="apple-mobile-web-app-title" content={siteName}>
		<link rel="manifest" href="/favicons/site.webmanifest">

		<meta property="og:type" content="website">
		<meta property="og:url" content={baseUrl}>
		<meta property="og:title" content={fullTitle}>
		<meta property="og:description" content="Киберматика — не компания, а образ мышления. Продуктовая команда, которая вдохновляет бизнес и рынок на большие достижения.">
		<meta property="og:image" content={ogImageUrl}>
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="og:site_name" content={siteName}>
		<meta property="og:locale" content="ru_RU">
	</head>
	<body>
		<div class="wrapper">
			<slot />
			<MobileMenu />
		</div>
		<script src="../scripts/main.js"></script>
	</body>
</html>